*{
box-sizing:border-box;
}


body{

margin:0;

font-family:Inter,Segoe UI,Arial,sans-serif;

background:#f8fafc;

color:#0F172A;

}



/* Navbar */

nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 35px;

background:#0F172A;

color:white;

}


.logo{

font-size:24px;

font-weight:800;

letter-spacing:.5px;

}


.tag{

color:#94a3b8;

font-size:14px;

}





/* Hero */


.hero{

background:linear-gradient(135deg,#0F172A,#1e293b);

color:white;

text-align:center;

padding:65px 20px;

border-bottom:3px solid #25F4EE;

}


.hero h1{

font-size:40px;

margin:0 0 15px;

font-weight:800;

}



.hero p{

font-size:17px;

color:#cbd5e1;

max-width:650px;

margin:auto;

line-height:1.6;

}





/* Container */


.container{

max-width:900px;

margin:35px auto;

padding:15px;

}




/* Cards */


.calculator,
.results,
.service{

background:white;

padding:30px;

border-radius:24px;

box-shadow:0 15px 35px rgba(15,23,42,.08);

margin-bottom:25px;

}



h2{

font-size:24px;

margin-top:0;

}





/* Inputs */


label{

display:block;

font-size:15px;

font-weight:700;

margin-top:15px;

}



input,
select{

width:100%;

padding:14px;

margin-top:7px;

border:1px solid #cbd5e1;

border-radius:12px;

font-size:15px;

background:white;

}



input:focus,
select:focus{

outline:none;

border-color:#25F4EE;

}





/* Buttons */


.buttons{

display:flex;

gap:12px;

margin-top:25px;

}


button{

flex:1;

padding:15px;

border:none;

border-radius:12px;

cursor:pointer;

font-weight:700;

font-size:15px;

background:linear-gradient(90deg,#FE2C55,#25F4EE);

color:white;

}



.reset{

background:#0F172A;

}





/* Results */


.cards{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:15px;

}


.cards div{

background:#0F172A;

color:white;

padding:22px;

border-radius:18px;

text-align:center;

}



.cards span{

color:#94a3b8;

font-size:14px;

}



.cards h3{

margin:12px 0 0;

color:#25F4EE;

font-size:24px;

}





.breakdown{

margin-top:20px;

background:#f1f5f9;

padding:20px;

border-radius:18px;

}



.breakdown p{

margin:12px 0;

}



.breakdown b{

color:#FE2C55;

}





/* Service */


.service{

background:linear-gradient(135deg,#0F172A,#1e293b);

color:white;

text-align:center;

}



.service h2{

color:white;

}



.service p{

color:#cbd5e1;

line-height:1.6;

}



.service a{

display:inline-block;

margin-top:15px;

padding:14px 30px;

background:#25F4EE;

color:#0F172A;

text-decoration:none;

border-radius:50px;

font-weight:800;

}





/* Footer */


footer{

background:#0F172A;

color:white;

text-align:center;

padding:20px;

font-size:14px;

}





@media(max-width:700px){


.hero h1{

font-size:30px;

}



.cards{

grid-template-columns:1fr;

}



.buttons{

flex-direction:column;

}


nav{

padding:18px;

}



  }
