*{
box-sizing:border-box;
}


body{

font-family:'Segoe UI',Arial,sans-serif;
margin:0;
background:#f4f7fb;
color:#222;

}


header{

background:linear-gradient(135deg,#000,#25f4ee,#fe2c55);
color:white;
text-align:center;
padding:50px 20px;

}


.logo{

font-size:22px;
font-weight:bold;
margin-bottom:20px;

}


header h1{

font-size:38px;
margin:10px 0;

}


header p{

font-size:18px;

}



.container{

max-width:900px;
margin:40px auto;
padding:15px;

}



.card{

background:white;
padding:30px;
border-radius:20px;
margin-bottom:25px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);

}



h2{

color:#111;

}



label{

display:block;
font-weight:600;
margin-top:18px;

}



input{

width:100%;
padding:14px;
margin-top:8px;
border:2px solid #eee;
border-radius:12px;
font-size:16px;

}



input:focus{

outline:none;
border-color:#25f4ee;

}



button{

width:100%;
padding:16px;
margin-top:25px;
border:none;
border-radius:12px;

background:linear-gradient(90deg,#fe2c55,#25f4ee);

color:white;
font-size:18px;
font-weight:bold;

cursor:pointer;

}



.result-box{

background:#f8f9ff;
padding:15px;
border-radius:15px;
margin:12px 0;
text-align:center;

}



.result-box p{

margin:5px;
color:#555;

}


.result-box h3{

margin:5px;
color:#fe2c55;
font-size:24px;

}



.info{

background:white;
padding:30px;
border-radius:20px;
box-shadow:0 10px 25px rgba(0,0,0,0.08);

}



.info li{

margin:10px 0;

}



.whatsapp-btn{

display:block;
width:max-content;

margin:30px auto;

padding:16px 35px;

background:#25D366;

color:white;

text-decoration:none;

border-radius:50px;

font-size:18px;

font-weight:bold;

box-shadow:0 8px 20px rgba(0,0,0,0.2);

}



.whatsapp-btn:hover{

transform:scale(1.05);

}



footer{

background:#000;
color:white;
text-align:center;
padding:20px;

}



@media(max-width:600px){

header h1{

font-size:27px;

}


.card{

padding:20px;

}

}
